/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
  display: flex;
  flex-direction: column;
}

div.page-header{
  margin-top: 1.5rem;
}

.content {
  flex: 1 0 auto;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 20px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

html {
  scroll-behavior: smooth;
}

#ext_link{
  margin-left: 4px;
  margin-top: -3px;
}

#brand-span{
  padding: 0.5rem;
}

/*margin-top: 20px; /* space between content and footer */
.footer {
	flex-shrink: 0;
    background-color: #efefef;
    padding-top: 10px;
    position: relative;
	vertical-align: middle;
    width: 100%;
	overflow: auto;
}

